name: Legacy CD pipeline

on:
  workflow_dispatch:
      push:
        branches:
         - main 
     
   

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      

      - name: Download the build artifacts
        uses: actions/download-artifact@v4
        with:
          name: react-app-build
          path: ./dist 
         

      - name: Simulate deployment
        run: |
          echo "Deploying to server"
         

